<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Here is your grid!</h1>
      <ul class="grid">
        <% @letters.each do |letter| %>
          <li><%= letter %></li>
        <%end%>
      </ul>

      <form action="/score" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="text" name="word">
        <input type="submit" value="Sumbit your word">
        <%= hidden_field_tag "letters", @letters %>
        <%= hidden_field_tag "start_time", @time_start %>

      </form>
    </div>

  </body>
</html>



